.profile-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-container h1 {
  text-align: center;
  color: #333;
}

.profile-container h2 {
  text-align: center;
  color: #555;
}

.results-list {
  list-style-type: none;
  padding: 0;
}

.results-list li {
  background-color: #fff;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.results-list li span {
  color: #666;
}

.playlist-button {
  background-color: #1db954;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.playlist-button:hover {
  background-color: #1ed760;
}
