.quiz-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.quiz-page-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.quiz-page-container button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 1rem;
}

.quiz-page-container button:hover {
  background-color: #2980b9;
  transform: scale(1.05);
}

.quiz-page-container button:active {
  background-color: #1c5980;
}

.quiz-page-container button:focus {
  outline: none;
  box-shadow: 0 0 10px #3498db;
}
